.languages span:first-child {
  border-left: 0.01vh solid #f58634;
}
:global(.ltr) .languages span:first-child {
  border-right: 0.01vh solid #f58634;
  border-left: initial;
}
.languages span:last-child {
  border-right: 0.01vh solid #f58634;
}
:global(.ltr) .languages span:last-child {
  border-left: 0.01vh solid #f58634;
  border-right: initial;
}
