.container{
    width: 20vw;
    background-color: var(--cardBody);
    height: 100%;
    border-radius: 9px;
    position: relative;
}
.gradient{
    position: absolute;
    border-radius: 0 0 9px 9px;
    height: 50%;
    width: 100%;
    bottom: 0;
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,0) 0%, #e8201238 100%);
}