.container{
    height: 50vh;
    background-color: #fcfeff;
    /*margin: 2vh 0vw 2vh 1vw;*/
}
.header{
    height: 10%;
    padding: 1vh 1vw;

}
.header span{
    width: 50%;
    text-align: center;
}
.content{
    height: 90%;
}
.content:nth-child(n){
    /* width: 50%;*/
}