.container {
  height: 100vh;
  background-repeat: repeat;
  background-position: center center;
  background-size: 600px 1200px;
  /*background-color: var(--mainContent);*/
  background-color: var(--LoginContainer);
  color: var(--textColor);
}
.row {
  height: 100vh;
}
.intro {
  height: 100vh;
  background-repeat: no-repeat repeat;
  background-position: center center;
  background-size: 600px 1200px;
}

.moveImage {
  animation-name: MOVE-BG;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes MOVE-BG {
  from {
    background-position: center top;
  }
  to {
    background-position: center 1200px;
  }
}

.intro img {
  width: 20vw;
  -webkit-animation: floating 5s ease-in-out infinite;
  -moz-animation: floating 5s ease-in-out infinite;
  animation: floating 5s ease-in-out infinite;
}
.intro h1 {
  line-height: 4.5vh;
  text-align: center;
  /*color: #f2f2f2;*/
}
.content {
  width: 65%;
  /*height: 65%;*/
  background-color: var(--cardBodyAlpha);
  border-radius: 9px;
  color: var(--textColor);
  box-shadow: 0px 0px 1px 0px #000;
}

.content :global(.accordion-header) > div{
  justify-content: center;
}
.content :global(.accordion-header){
  /*background-color: #242633fa;*/
  background-color: var(--cardHeaderAlpha);
  /*color: #ecececc7;*/
}
/*.content :global(.accordion-body){
  background-color: rgba(206, 223, 255, 0.83);
}*/
.forgetPasswordInput{
  width: 75%;
}

.loginInput{
  width: 75%;
  margin-bottom: 1vh;
}
.loginInput > div{
  border-color: var(--cardHeader);

}
.loginInput :global(.lead){
  /*background-color: #242633fa;
  border-color: #242633fa;
  color: #ecececc7;*/
  background-color: var(--cardHeader);
  border-color: var(--cardHeader);
  color: var(--textColor);
}
.loginInput.captcha :global(.lead){
  width: 50%;

}
.loginInput.captcha :global(.lead) span{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/

}
.loginInput.captcha :global(input){
  width: 40%;
}
.loginInput.captcha :global(.after){
  width: 10%;
}

.thisLoading{
  width: 5vw;
}

.loginInput.otpInput :global(input){
  letter-spacing: 1rem !important;
}

.formBody{
  /*height: 80%;*/
}
.formFooter{
  height: 8vh;
}

.errorText{
  color: var(--textRed);
}
.forgetPassword{
  width: 75%;
}
/*.thisIcon{
  transform: rotate(-90deg);
}*/

.bgicon {
  width: 60%;
  height: 65%;
  /*background: #0e0e10cc;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}

.form {
  width: 100%;
  height: 100%;
  padding: 1.8vh 1vw;
}

.thisButton {
  width: 40%;
  background: var(--textGreen);
  color: #eaeaea;
  bottom: 0;
}
.forgetPassButton{
  background-color: var(--orange);
}
.backButton{
  width: 20%;
  background-color: var(--textRed);
}

.ltrInput :global(input) {
  direction: ltr !important;
}



@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0) rotate(.2deg);
  }

  50% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -moz-transform: translateY(20px) rotate(.2deg);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0) rotate(.2deg);
  }
}

.twinkle{
  -webkit-animation: twinkle 4s linear infinite;
  -moz-animation: twinkle 4s linear infinite;
  animation: twinkle 4s linear infinite;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}