@charset "UTF-8";

 @font-face {
  font-family: 'opex-icon';
  src: url('../font/opex-icon.eot?91241632');
  src: url('../font/opex-icon.eot?91241632#iefix') format('embedded-opentype'),
       url('../font/opex-icon.woff2?91241632') format('woff2'),
       url('../font/opex-icon.woff?91241632') format('woff'),
       url('../font/opex-icon.ttf?91241632') format('truetype'),
       url('../font/opex-icon.svg?91241632#opex-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'opex-icon';
    src: url('../font/opex-icon.svg?91241632#opex-icon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "opex-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star-1:before { content: '\e211'; } /* '' */
.icon-chat:before { content: '\e22b'; } /* '' */
.icon-comment-alt:before { content: '\e23c'; } /* '' */
.icon-comment:before { content: '\e24d'; } /* '' */
.icon-messages-dotted:before { content: '\e27e'; } /* '' */
.icon-down-open:before { content: '\e814'; } /* '' */
.icon-up-open:before { content: '\e825'; } /* '' */
.icon-info:before { content: '\e830'; } /* '' */
.icon-plus:before { content: '\e841'; } /* '' */
.icon-star:before { content: '\e852'; } /* '' */
.icon-star-filled:before { content: '\e863'; } /* '' */
.icon-cancel:before { content: '\e876'; } /* '' */
.icon-eye:before { content: '\e887'; } /* '' */
.icon-sun-filled:before { content: '\e898'; } /* '' */
.icon-sun:before { content: '\e909'; } /* '' */
.icon-infinity:before { content: '\e91a'; } /* '' */
.icon-market:before { content: '\e93b'; } /* '' */
.icon-settings:before { content: '\e94c'; } /* '' */
.icon-wallet:before { content: '\e95d'; } /* '' */
.icon-counting:before { content: '\e97f'; } /* '' */
.icon-messages:before { content: '\e990'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-diamond:before { content: '\f259'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-account:before { content: '󨥮'; } /* '\e896e' */