
.icon-down-open:before { content: '\0100'; } /* 'Ā' */
.icon-up-open:before { content: '\0101'; } /* 'ā' */
.icon-info:before { content: '\0102'; } /* 'Ă' */
.icon-plus:before { content: '\0103'; } /* 'ă' */
.icon-star:before { content: '\0104'; } /* 'Ą' */
.icon-star-filled:before { content: '\0105'; } /* 'ą' */
.icon-cancel:before { content: '\0106'; } /* 'Ć' */
.icon-eye:before { content: '\0107'; } /* 'ć' */
.icon-sun-filled:before { content: '\0108'; } /* 'Ĉ' */
.icon-sun:before { content: '\0109'; } /* 'ĉ' */
.icon-infinity:before { content: '\0110'; } /* 'Đ' */
.icon-down-open-1:before { content: '\0111'; } /* 'đ' */
.icon-up-open-1:before { content: '\0112'; } /* 'Ē' */
.icon-envelope-open:before { content: '\0113'; } /* 'ē' */
.icon-market:before { content: '\0114'; } /* 'Ĕ' */
.icon-settings:before { content: '\0115'; } /* 'ĕ' */
.icon-wallet:before { content: '\0116'; } /* 'Ė' */
.icon-account:before { content: '\0117'; } /* 'ė' */
.icon-counting:before { content: '\0118'; } /* 'Ę' */
.icon-messages:before { content: '\0119'; } /* 'ę' */
.icon-star-1:before { content: '\0120'; } /* 'Ġ' */
.icon-chat:before { content: '\0121'; } /* 'ġ' */
.icon-comment-alt:before { content: '\0122'; } /* 'Ģ' */
.icon-comment:before { content: '\0123'; } /* 'ģ' */
.icon-diamond:before { content: '\0124'; } /* 'Ĥ' */
.icon-messages-dotted:before { content: '\0125'; } /* 'ĥ' */
.icon-safe:before { content: '\0126'; } /* 'Ħ' */
.icon-lock:before { content: '\0127'; } /* 'ħ' */
.icon-user-circle-o:before { content: '\0128'; } /* 'Ĩ' */
.icon-lock-filled:before { content: '\0129'; } /* 'ĩ' */
.icon-lock-1:before { content: '\0130'; } /* 'İ' */
.icon-flag:before { content: '\0131'; } /* 'ı' */
.icon-flag-filled:before { content: '\0132'; } /* 'Ĳ' */
.icon-vcard:before { content: '\0133'; } /* 'ĳ' */
.icon-lock-2:before { content: '\0134'; } /* 'Ĵ' */
.icon-lock-empty:before { content: '\0135'; } /* 'ĵ' */
.icon-lock-3:before { content: '\0136'; } /* 'Ķ' */
.icon-user:before { content: '\0137'; } /* 'ķ' */
.icon-note:before { content: '\0138'; } /* 'ĸ' */
.icon-tag:before { content: '\0139'; } /* 'Ĺ' */
.icon-file-excel:before { content: '\0140'; } /* 'ŀ' */
.icon-stopwatch:before { content: '\0141'; } /* 'Ł' */
.icon-plus-circle:before { content: '\0142'; } /* 'ł' */
.icon-calendar-inv:before { content: '\0143'; } /* 'Ń' */
.icon-calendar:before { content: '\0144'; } /* 'ń' */
.icon-calendar-1:before { content: '\0145'; } /* 'Ņ' */
.icon-calendar-empty:before { content: '\0146'; } /* 'ņ' */
.icon-calendar-2:before { content: '\0147'; } /* 'Ň' */
.icon-calendar-3:before { content: '\0148'; } /* 'ň' */
.icon-filter:before { content: '\0149'; } /* 'ŉ' */
.icon-filternfilled:before { content: '\0150'; } /* 'Ő' */
.icon-microsoft_excel:before { content: '\0151'; } /* 'ő' */
.icon-clear-filters:before { content: '\0152'; } /* 'Œ' */
.icon-clock:before { content: '\0153'; } /* 'œ' */
.icon-info-circled:before { content: '\0154'; } /* 'Ŕ' */
.icon-copy:before { content: '\0155'; } /* 'ŕ' */
.icon-help-circled:before { content: '\0156'; } /* 'Ŗ' */
.icon-help-circled-1:before { content: '\0157'; } /* 'ŗ' */
.icon-help-circled-2:before { content: '\0158'; } /* 'Ř' */
.icon-help-circled-alt:before { content: '\0159'; } /* 'ř' */
.icon-menu_vertical:before { content: '\0160'; } /* 'Š' */
.icon-cancel-circled:before { content: '\0161'; } /* 'š' */
.icon-cancel-circle:before { content: '\0162'; } /* 'Ţ' */
.icon-cancel-circle-1:before { content: '\0163'; } /* 'ţ' */
.icon-cancel-circled-1:before { content: '\0165'; } /* 'ť' */
.icon-cancel-circle-2:before { content: '\0166'; } /* 'Ŧ' */
.icon-profilesetting:before { content: '\0167'; } /* 'ŧ' */
.icon-protectsetting:before { content: '\0168'; } /* 'Ũ' */
.icon-verifiedsetting:before { content: '\0169'; } /* 'ũ' */
.icon-fileSubsetting:before { content: '\0170'; } /* 'Ű' */
.icon-closed_eye:before { content: '\0171'; } /* 'ű' */
.icon-eye-1:before { content: '\0172'; } /* 'Ų' */
.icon-hash:before { content: '\0173'; } /* 'ų' */
.icon-lasttrades:before { content: '\0174'; } /* 'Ŵ' */
.icon-myorder:before { content: '\0175'; } /* 'ŵ' */
.icon-order:before { content: '\0176'; } /* 'Ŷ' */
.icon-orderbook:before { content: '\0177'; } /* 'ŷ' */
.icon-overview:before { content: '\0178'; } /* 'Ÿ' */
.icon-dot-3:before { content: '\0179'; } /* 'Ź' */
.icon-th:before { content: '\0180'; } /* 'ƀ' */
.icon-th-outline:before { content: '\0181'; } /* 'Ɓ' */
.icon-eq:before { content: '\0182'; } /* 'Ƃ' */
.icon-resize-vertical:before { content: '\0183'; } /* 'ƃ' */
.icon-resize-vertical-1:before { content: '\0184'; } /* 'Ƅ' */
.icon-down-open-2:before { content: '\0185'; } /* 'ƅ' */
.icon-braille:before { content: '\0186'; } /* 'Ɔ' */
.icon-left-open:before { content: '\0187'; } /* 'Ƈ' */
.icon-right-open:before { content: '\0188'; } /* 'ƈ' */
.icon-eye-2:before { content: '\0189'; } /* 'Ɖ' */
.icon-eye-off:before { content: '\0190'; } /* 'Ɛ' */
.icon-globe:before { content: '\0191'; } /* 'Ƒ' */
.icon-location:before { content: '\0192'; } /* 'ƒ' */
.icon-loop:before { content: '\0193'; } /* 'Ɠ' */
.icon-arrows-cw:before { content: '\0194'; } /* 'Ɣ' */
.icon-arrows-cw-1:before { content: '\0195'; } /* 'ƕ' */
.icon-eye-3:before { content: '\0196'; } /* 'Ɩ' */
.icon-op-06:before { content: '\0197'; } /* 'Ɨ' */
.icon-op-05:before { content: '\0198'; } /* 'Ƙ' */
.icon-op-04:before { content: '\0199'; } /* 'ƙ' */
.icon-op-02:before { content: '\0200'; } /* 'Ȁ' */
.icon-op-03:before { content: '\0201'; } /* 'ȁ' */
.icon-left-open-1:before { content: '\0202'; } /* 'Ȃ' */
.icon-right-open-1:before { content: '\0203'; } /* 'ȃ' */
.icon-row:before { content: '\0204'; } /* 'Ȅ' */
.icon-grid:before { content: '\0205'; } /* 'ȅ' */
.icon-cancel-circled2:before { content: '\e801'; } /* '' */
