
.icon-info:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-filled:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-sun-filled:before { content: '\e808'; } /* '' */
.icon-sun:before { content: '\e809'; } /* '' */
.icon-infinity:before { content: '\e80a'; } /* '' */
.icon-market:before { content: '\e80b'; } /* '' */
.icon-settings:before { content: '\e80c'; } /* '' */
.icon-wallet:before { content: '\e80d'; } /* '' */
.icon-account:before { content: '\e80e'; } /* '' */
.icon-counting:before { content: '\e80f'; } /* '' */
.icon-messages:before { content: '\e810'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */