[class^="icon-"], [class*=" icon-"] {
  font-family: 'opex-icon';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-down-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0100;&nbsp;'); }
.icon-up-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0101;&nbsp;'); }
.icon-info { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0102;&nbsp;'); }
.icon-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0103;&nbsp;'); }
.icon-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0104;&nbsp;'); }
.icon-star-filled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0105;&nbsp;'); }
.icon-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0106;&nbsp;'); }
.icon-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0107;&nbsp;'); }
.icon-sun-filled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0108;&nbsp;'); }
.icon-sun { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0109;&nbsp;'); }
.icon-infinity { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0110;&nbsp;'); }
.icon-down-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0111;&nbsp;'); }
.icon-up-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0112;&nbsp;'); }
.icon-envelope-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0113;&nbsp;'); }
.icon-market { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0114;&nbsp;'); }
.icon-settings { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0115;&nbsp;'); }
.icon-wallet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0116;&nbsp;'); }
.icon-account { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0117;&nbsp;'); }
.icon-counting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0118;&nbsp;'); }
.icon-messages { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0119;&nbsp;'); }
.icon-star-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0120;&nbsp;'); }
.icon-chat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0121;&nbsp;'); }
.icon-comment-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0122;&nbsp;'); }
.icon-comment { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0123;&nbsp;'); }
.icon-diamond { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0124;&nbsp;'); }
.icon-messages-dotted { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0125;&nbsp;'); }
.icon-safe { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0126;&nbsp;'); }
.icon-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0127;&nbsp;'); }
.icon-user-circle-o { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0128;&nbsp;'); }
.icon-lock-filled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0129;&nbsp;'); }
.icon-lock-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0130;&nbsp;'); }
.icon-flag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0131;&nbsp;'); }
.icon-flag-filled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0132;&nbsp;'); }
.icon-vcard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0133;&nbsp;'); }
.icon-lock-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0134;&nbsp;'); }
.icon-lock-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0135;&nbsp;'); }
.icon-lock-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0136;&nbsp;'); }
.icon-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0137;&nbsp;'); }
.icon-note { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0138;&nbsp;'); }
.icon-tag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0139;&nbsp;'); }
.icon-file-excel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0140;&nbsp;'); }
.icon-stopwatch { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0141;&nbsp;'); }
.icon-plus-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0142;&nbsp;'); }
.icon-calendar-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0143;&nbsp;'); }
.icon-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0144;&nbsp;'); }
.icon-calendar-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0145;&nbsp;'); }
.icon-calendar-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0146;&nbsp;'); }
.icon-calendar-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0147;&nbsp;'); }
.icon-calendar-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0148;&nbsp;'); }
.icon-filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0149;&nbsp;'); }
.icon-filternfilled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0150;&nbsp;'); }
.icon-microsoft_excel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0151;&nbsp;'); }
.icon-clear-filters { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0152;&nbsp;'); }
.icon-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0153;&nbsp;'); }
.icon-info-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0154;&nbsp;'); }
.icon-copy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0155;&nbsp;'); }
.icon-help-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0156;&nbsp;'); }
.icon-help-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0157;&nbsp;'); }
.icon-help-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0158;&nbsp;'); }
.icon-help-circled-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0159;&nbsp;'); }
.icon-menu_vertical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0160;&nbsp;'); }
.icon-cancel-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0161;&nbsp;'); }
.icon-cancel-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0162;&nbsp;'); }
.icon-cancel-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0163;&nbsp;'); }
.icon-cancel-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0165;&nbsp;'); }
.icon-cancel-circle-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0166;&nbsp;'); }
.icon-profilesetting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0167;&nbsp;'); }
.icon-protectsetting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0168;&nbsp;'); }
.icon-verifiedsetting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0169;&nbsp;'); }
.icon-fileSubsetting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0170;&nbsp;'); }
.icon-closed_eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0171;&nbsp;'); }
.icon-eye-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0172;&nbsp;'); }
.icon-hash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0173;&nbsp;'); }
.icon-lasttrades { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0174;&nbsp;'); }
.icon-myorder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0175;&nbsp;'); }
.icon-order { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0176;&nbsp;'); }
.icon-orderbook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0177;&nbsp;'); }
.icon-overview { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0178;&nbsp;'); }
.icon-dot-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0179;&nbsp;'); }
.icon-th { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0180;&nbsp;'); }
.icon-th-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0181;&nbsp;'); }
.icon-eq { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0182;&nbsp;'); }
.icon-resize-vertical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0183;&nbsp;'); }
.icon-resize-vertical-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0184;&nbsp;'); }
.icon-down-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0185;&nbsp;'); }
.icon-braille { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0186;&nbsp;'); }
.icon-left-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0187;&nbsp;'); }
.icon-right-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0188;&nbsp;'); }
.icon-eye-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0189;&nbsp;'); }
.icon-eye-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0190;&nbsp;'); }
.icon-globe { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0191;&nbsp;'); }
.icon-location { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0192;&nbsp;'); }
.icon-loop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0193;&nbsp;'); }
.icon-arrows-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0194;&nbsp;'); }
.icon-arrows-cw-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0195;&nbsp;'); }
.icon-eye-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0196;&nbsp;'); }
.icon-op-06 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0197;&nbsp;'); }
.icon-op-05 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0198;&nbsp;'); }
.icon-op-04 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0199;&nbsp;'); }
.icon-op-02 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0200;&nbsp;'); }
.icon-op-03 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0201;&nbsp;'); }
.icon-left-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0202;&nbsp;'); }
.icon-right-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0203;&nbsp;'); }
.icon-row { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0204;&nbsp;'); }
.icon-grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0205;&nbsp;'); }
.icon-cancel-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
