.container {
    height: 100vh;
    background-color: #383a59;
    color: var(--textColor);
}
.menu{
    width: 20%;
    height: 100%;
    background-color: var(--subMenu);
    box-shadow: 0 0 8px 0 #00000080;
}
.content{
    width: 80%;
    height: 100%;
    background-color: var(--mainContent);
}
.top{
    height: 20%;
    background-color: var(--cardHeader);
    /*background-color: #00a97f;*/
}
.top img{
    width: 9vw;
}
.body{
    height: 80%;
    background-color: var(--cardBody);
    /*background-color: #8c0b72;*/
}
.thisButton {
    width: 40%;
    background: var(--orange);
    color: var(--textColor);
    bottom: 0;
}

.navMenu{
    padding: 1vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.selected{
    color: var(--orange);
    font-weight: bold;
    font-size: 1vw;
}
.selected:after{
    content: '';
    width: 2%;
    height: 100%;
    border-radius: 9px;
    background-color: var(--orange);
    position: absolute;
    left: 0;
}
:global(.ltr) .selected:after{
    content: '';
    width: 2%;
    height: 100%;
    border-radius: 9px;
    background-color: var(--orange);
    position: absolute;
    left: initial;
    right: 0;
}