.container {
    height: 68%;
    width: 90%
}

.arrow {
    width: 8px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--activeTab);
}

.bg {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg i:before {
    vertical-align: middle;
}

.bg i {
    color: var(--textColor);
}

.bg:hover {
    background-color: rgba(51, 51, 56, 0.63) !important;
    color: var(--orange) !important;
}

.thisButton {
    width: 12%;
    background: var(--cardHeaderAlpha);
    color: var(--textColor);
    bottom: 0;
}

.marketButton {
    width: 50%;
}

.marketButton.easyTradingButton {

    background: var(--darkGreen);
}

.marketButton.advancedTradingButton {

    background: var(--orange);
}

.marketButton:hover {
}

.flashit {
    -webkit-animation: flash linear 2s 3;
    animation: flash linear 2s 3;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
