.container{
    height: 70vh;
}
.header{
    height: 10%;
}
.content{
    height: 90%;
}
.content :global(.row){
    width: 100%;
}
.addressInput :global(.lead){
    width: 24.5%;
}
.addressInput :global(input){
    width: 75.5%;
}
.prevButton{
    width: 10%;
    height: 4.5vh;
    /*padding: 1vh 0vw;*/
    border: none;
    background-color: var(--orange);
    border-radius: 7px;
    font-family: 'IRANYekan';
    font-size: 0.8vw;
    color: #f2f2f2;
    bottom: 0;
    /*margin-top: 1vh;*/
}
.nextButton{
    width: 10%;
    height: 4.5vh;
    /*padding: 1vh 0vw;*/
    border: none;
    background-color: var(--bgGreen);
    border-radius: 7px;
    font-family: 'IRANYekan';
    font-size: 0.8vw;
    color: #f2f2f2;
    bottom: 0;
    /*margin-top: 1vh;*/
}