.container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.item {
    margin: 1vh 0.5vw;
    border-radius: 8px;
    height: 37vh;
}

.thisButton:hover {
    background-color: var(--container) !important;
    color: var(--activeTab);
}

.thisButton {
    width: 80%;
    background: var(--cardHeaderAlpha);
    color: var(--textColor);
    bottom: 0;
}

.chart {
    width: 100%;
}

.filterUp {
    filter: invert(51%) sepia(94%) saturate(370%) hue-rotate(109deg) brightness(87%) contrast(92%);

}
.filterDown {
    filter: invert(50%) sepia(53%) saturate(2527%) hue-rotate(337deg) brightness(68%) contrast(175%);
}