.container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.item {
    margin: 1vh 0.5vw;
    border-radius: 8px;
    height: 37vh;
}

.item:hover {
    background-color: var(--container) !important;
}

.filter {
    filter: blur(4px);
}