.container{
    height: 100%;
    /* background-color: var(--cardHeader); */
    /*animation-name: movingX;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    !* linear | ease | ease-in | ease-out | ease-in-out *!
    animation-timing-function: linear;*/
}
/*@keyframes movingX {!*
    from { transform: translateX(0) }
    to { transform: translateX(120vw) }
*!
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20vw);
    }
}*/
