.container{
    height: 8.5vh;
}
.marketCardImg{
    /*
    filter: invert(29%) sepia(9%) saturate(30%) hue-rotate(339deg) brightness(97%) contrast(89%);
    */
}
.marketCardImage{
    width: 14%;
}
.marketCardContent{
    width: 86%;
}