.container {
    position: fixed;
    top: 11vh;
    width: 30%;
    height: 35vh;
    background-color: var(--popupAlpha);
    z-index: 3;
    box-shadow: -1px 5px 8px -2px #101010ad;
    right: 47.5%;
    border-radius: 9px;
}

:global(.ltr) .container {
    left: 47.5%;
    right: initial;
}

.header {
    height: 12%;
}

.content {
    height: 76%;
}

.footer {
    height: 12%;

}

.thisButton {
    width: 30%;
    height: 3.5vh !important;
}

.walletButton {
    background-color: var(--orange);
}

.closeButton {
    background-color: var(--darkRed);
    width: 20%;
}

.thisInput {
    width: 100%;
}

.thisInput :global(.after) {
    width: 10%;
    cursor: pointer;
}

.thisInput :global(input) {
    width: 90% !important;
    cursor: not-allowed;
    font-family: 'Roboto', sans-serif;
}
