.container {
    height: 50vh;
    border-radius: 9px;
}

.iconBG{
    vertical-align: middle;

    border-radius: 50vw;

}
/*
.openDetailes{
    animation-name: expand;
    animation-duration: 1s;
}


@keyframes expand {
    from {height: 0;}
    to {height: 40vh;}
}*/
.close{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    opacity:0;
    line-height: 0;
    visibility: collapse
}
.open{
    max-height:2vh;
    transition: max-height 0.6s;

}


.openDetailes{
    /*display: table-row;*/
    animation: anim 1s ease;
}
@keyframes anim {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
/*
tr{
    transform-origin: top;
}*/


.safariFlexSize :global(.accordion-header){
    flex: 22;
}
.safariFlexSize :global(.accordion-body){
    flex: 77;
}