.row:last-child{
    border-bottom: none;
}
.row:nth-child(odd) {
    background-color: var(--tableRow);
}
.thisButton:hover {
    background-color: var(--LoginContainer);
}

.thisButton {
    width: 80%;
    background: var(--cardHeaderAlpha);
    color: var(--textColor);
    bottom: 0;
}