.container .tbody .tbodyRow:nth-child(even) span{
    background-color: var(--tableRow);
    transition: background-color 0.4s;
}
:global .__react_component_tooltip.show {
    background-color: var(--toolTipBG);
    color: var(--textColor);
    border: 0.1vh solid transparent;
    border-radius: 5px;
    font-size: 0.8vw;
    padding: 0.5vh 1vw;
    opacity: 1 !important;
}
:global .place-bottom::after {
    border-bottom-color: var(--toolTipBG) !important;
}
:global .place-left::after {
    border-left-color: var(--toolTipBG) !important;
}
:global .place-right::after {
    border-right-color: var(--toolTipBG) !important;
}
:global .place-top::after {
    border-top-color: var(--toolTipBG) !important;
}
:global .selected {
    background: darkgrey !important;
}
.tbody{
    line-height: 4.5vh;
}
.thead{
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: normal;
    background-color: var(--tableHeader);
    line-height: 4.5vh;
}


