.container {
  height: 75vh;
  border-radius: 9px;
}

.content {
  height: 100%;
  width: 100%;
  padding: 1.8vh 1vw;
}
.content :global(.row) {
  width: 100%;
}
.addressInput :global(.lead) {
  width: 24.5%;
}
.addressInput :global(input) {
  width: 75.5%;
}
.iconBG {
  vertical-align: middle;
  border-radius: 50vw;
}
.close {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  opacity: 0;
  line-height: 0;
  visibility: collapse;
}
.open {
  max-height: 2vh;
  transition: max-height 0.6s;
}
.thisButton {
  width: 10%;
  background-color: var(--bgGreen);
}
.safariFlexSize :global(.accordion-header) {
  flex: 22;
}
.safariFlexSize :global(.accordion-body) {
  flex: 77;
}
