.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border: 0.3vh solid var(--CardBorder);
    border-radius: 9px;
    margin: 1vh 0;
    height: 5vh;
}

.input-group span {
    background: var(--cardHeader);
    color: var(--textColor);
    -webkit-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center ;
    -ms-flex-pack: center;
    justify-content: center;
    /*height: 4.5vh;*/
    border: 0.3vh solid var(--cardHeader);
}

.input-group input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0.4;
    border: none;
    /*padding-right: 10px;*/
    direction: ltr;
    text-align: center;
    font-family: iranyekan , serif !important;
    background: none;
    color: var(--textColor);
}
.input-group span.lead {
    border-radius: 0 9px 9px 0;
}
.ltr .input-group span.lead{
    border-radius: 9px 0 0 9px;
}
.input-group span.after {
    border-radius: 9px 0 0 9px ;
}
.ltr .input-group span.after {
    border-radius: 0 9px 9px 0;
}

.input-group-hint{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hint-icon{
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50vw;
    background-color: var(--bgRed);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.alert{
    font-size: 0.7vw;
    color: var(--textRed);
}
