.content{
    width: 95%;
    /*height: 100vh;*/
    z-index: 6;
    /*margin-right: 5%;*/
    background-color: var(--cardBody);
}
:global(.ltr) .content{
    /*margin-left: 5%;
    margin-right: initial;*/
}