.container{
    height: 100vh;
}
.header{
    height: 12%;
    padding: 1vh 1vw;
}
.header h2{
    color: var(--orange);
}
.header span{
    width: 50%;
    text-align: center;
}
.content{
    height: 88%;
    /*background-color: #F58634;*/
}
.content div{
    height: 6vh;
    display: flex;
    align-items: center;
}
