.container {
  height: 35vh;
}
.header {
  height: 20%;
  padding: 1vh 1vw;
}
.header span {
  width: 50%;
  text-align: center;
}
.content {
  height: 80%;
  width: 100%;
}
.content :global(.row) {
  width: 100%;
}
.thisButton {
  width: 10%;
  background-color: var(--bgGreen);
}
