.container {
  height: 35vh;
}
.header {
  height: 20%;
  padding: 1vh 1vw;
}
.header span {
  width: 50%;
  text-align: center;
}
.content {
  height: 80%;
  width: 100%;
}
.content :global(.row) {
  width: 100%;
}
.content:nth-child(n) {
  /* width: 50%;*/
}
.button {
  width: 10%;
  height: 4.5vh;
  /*padding: 1vh 0vw;*/
  border: none;
  background-color: var(--bgGreen);
  border-radius: 7px;
  font-family: "IRANYekan";
  font-size: 0.8vw;
  color: #f2f2f2;
  bottom: 0;
  /*margin-top: 1vh;*/
}
