.inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 0.3vh solid var(--cardBorder);
  border-radius: 7px;
  height: 5vh;
  width: 100%;
}

.inputGroup span {
  background: var(--cardHeader);
  color: var(--textColor);
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  border: 0.3vh solid var(--cardHeader);
}

.inputGroup input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  border: none;
  direction: ltr;
  text-align: center;
  font-family: iranyekan, serif;
  background: none;
  color: var(--textColor);
}
.ltr .inputGroup input {
  font-family: "Segoe UI", serif;
}
.inputGroup span.lead {
  border-radius: 0 4px 4px 0;
}
.ltr .inputGroup span.lead {
  border-radius: 4px 0 0 4px;
}
.inputGroup span.after {
  border-radius: 4px 0 0 4px;
}
.ltr .inputGroup span.after {
  border-radius: 0 4px 4px 0;
}

.inputGroupHint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hintIcon {
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50vw;
  background-color: var(--darkRed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.alert {
  font-size: 0.7vw;
  color: var(--red);
}
