.container{
    height: 22vh;
    font-size: 0.8vw;
    margin-top: 4vh;
    padding: 2vh 5vw;
}
.content{
    width: 100%;
    height: 88%;

}
.navbar{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerLogo{
    width: 5vw;
}
.languages span:first-child{
    border-left: 0.01vh solid #F58634;
    padding-left: 1vw;
}
:global(.ltr) .languages span:first-child{
    border-right: 0.01vh solid #F58634;
    padding-right: 1vw;
    border-left: initial;
    padding-left: initial;
}
.languages span:last-child{
    border-right: 0.01vh solid #F58634;
    padding-right: 1vw;
}
:global(.ltr) .languages span:last-child{
    border-left: 0.01vh solid #F58634;
    padding-left: 1vw;
    border-right: initial;
    padding-right: initial;
}
/*.footerSetting .row img{
    width: 2.25vw;
}*/
.changeTheme{
    width: 4vw;
    height: 4.5vh;
    background: transparent;
    border: 0.3vh solid #474747;
    border-radius: 50vw;
    margin: 0 0.5vw;
    position: relative;
}
.changeTheme span{
    width: 1.9vw;
    height: 1.9vw;
    background-color: #474747;
    border-radius: 50vw;
    position: absolute;
    left: 0;
}

/*:global(.ltr) .container :global(.row){
    flex-direction: row-reverse;
}*/



