.container{
    width: 5%;
    height: 100vh;
    background-color: #f2f2f2;
    font-size: 2vw;
    padding: 3vh 0;
    /*border-left: 0.2vh solid #505050;*/
    position: fixed;
}
.container a{
    margin: 1.2vh 0;
}


/*
.container ul li{
    margin: 1.2vh 0;
    position: relative;
    !*width: 100%;
    height: 100%;*!
}
*/


.container a.selected{
    background-color: var(--cardBody);
    width: 5vw;
    text-align: revert;
    position: relative;
    margin-right: 2vw;
    border-radius: 0 9px 9px 0;
    padding: 1vh 0.5vw;
    transition: background-color 0.4s;
}
:global(.ltr) .container a.selected{
    margin-left: 2vw;
    margin-right: initial;
    border-radius: 9px 0 0 9px;
}


.selected:before{
    content: "";
    position: absolute;
    background-color: var(--menu);
    width: 15px;
    height: 15px;
    border-top-left-radius: 10px;
    bottom: -15px;
    left: 1vw;
    box-shadow: -3px -7px 0 0 var(--cardBody);
    transition: background-color 0.4s, box-shadow 0.4s;
}
:global(.ltr) .selected:before{
    right: 1vw;
    left: initial;
    border-top-right-radius: 10px;
    box-shadow: 7px -2px 0 0 var(--cardBody);

}
.selected:after{
    content: "";
    position: absolute;
    background-color: var(--menu);
    width: 15px;
    height: 15px;
    border-bottom-left-radius: 10px;
    top: -15px;
    left: 1vw;
    box-shadow: -3px 7px 0 0 var(--cardBody);
    transition: background-color 0.4s, box-shadow 0.4s;
}
:global(.ltr) .selected:after{
    right: 1vw;
    left: initial;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 2px 0 0 var(--cardBody);

}
.container a.selected span i{
    color: var(--orange);
    transition: color 0.4s;
}
