.container {
  height: 65vh;
}
.header {
  height: 12%;
  padding: 1vh 1vw;
}
.header span {
  width: 50%;
  text-align: center;
}
.content {
  height: 85%;
}
.content :global(.row) {
  width: 100%;
}
.thisButton {
  width: 20%;
  background-color: var(--bgGreen);
}
.passwordInput :global(.lead) {
  width: 50%;
  cursor: pointer;
}
.passwordInput :global(.after) {
  width: 10%;
  cursor: pointer;
}
.passwordInput :global(input) {
  width: 40% !important;
}