.container {
  height: 100vh;
  width: 100%;
}
.header {
  height: 10%;
  padding: 1vh 1vw;
  z-index: 100;
}
.header h2 {
  color: var(--orange);
}
.header span {
  width: 50%;
  text-align: center;
}
.content {
  height: 90%;
}
.content div {
  display: flex;
}
.topic {
}
.listBox:before {
  content: "";
  position: absolute;
  top: 2.8vh;
  bottom: 2.8vh;
  right: 1.05vw;
  border-right: 0.3vh dotted var(--textColor);
}
:global(.ltr) .listBox:before {
  left: 1.05vw;
  border-left: 0.3vh dotted var(--textColor);
  right: initial;
  border-right: initial;
}
.list:before {
  content: "";
  display: inline-block;
  width: 0.35vw;
  height: 0.35vw;
  border-radius: 100vw;
  background-color: var(--textColor);
  right: 0.9vw;
  position: absolute;
}
:global(.ltr) .list:before {
  left: 0.9vw;
  right: initial;
}

.container a.selected {
  background-color: var(--mainContent);
  position: relative;
  transition: background-color 0.4s;
}
:global(.ltr) .container a.selected {
  margin-right: initial;
}

.selected:before {
  content: "";
  position: absolute;
  background-color: var(--cardBody);
  width: 15px;
  height: 15px;
  border-top-left-radius: 10px;
  bottom: -15px;
  left: 0vw;
  box-shadow: -3px -7px 0 0 var(--mainContent);
  transition: background-color 0.4s, box-shadow 0.4s;
}
:global(.ltr) .selected:before {
  right: 0vw;
  left: initial;
  border-top-right-radius: 10px;
  box-shadow: 7px -2px 0 0 var(--mainContent);
}
.selected:after {
  content: "";
  position: absolute;
  background-color: var(--cardBody);
  width: 15px;
  height: 15px;
  border-bottom-left-radius: 10px;
  top: -15px;
  left: 0vw;
  box-shadow: -3px 7px 0 0 var(--mainContent);
  transition: background-color 0.4s, box-shadow 0.4s;
}
:global(.ltr) .selected:after {
  right: 0vw;
  left: initial;
  border-bottom-right-radius: 10px;
  box-shadow: 7px 2px 0 0 var(--mainContent);
}
.selected:first-child:after {
  width: 0;
}
.selected:last-child:before{
  width: 0;
}