.container {
  height: 50vh;
  border-radius: 9px;
}
.iconBG {
  vertical-align: middle;

  border-radius: 50vw;
}
.close {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  opacity: 0;
  line-height: 0;
  visibility: collapse;
}
.open {
  max-height: 2vh;
  transition: max-height 0.6s;
}
.safariFlexSize :global(.accordion-header) {
  flex: 22;
}
.safariFlexSize :global(.accordion-body) {
  flex: 77;
}
