.container {
  height: 10vh;
}
.content {
  width: 95%;
  height: 100%;
}
:global(.ltr) .content {
  padding: 0 0.5vw 0 1.5vw;
}
.inventory div:first-child {
  border-left: 0.01vh solid #f58634;
  padding: 0 0.2vw;
}
:global(.ltr) .inventory div:first-child {
  border-right: 0.01vh solid #f58634;
  padding-right: 0.3vw;
  border-left: initial;
  padding-left: initial;
}
.inventory div:last-child {
  border-right: 0.01vh solid #f58634;
  padding: 0 0.2vw;
}
:global(.ltr) .inventory div:last-child {
  border-left: 0.01vh solid #f58634;
  padding-left: 0.3vw;
  border-right: initial;
  padding-right: initial;
}
.inventory div * {
  padding: 0 0.2vw;
}
.signOut {
  width: 5%;
  height: 100%;
  cursor: pointer;
}

.iconBG {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50vw;
  background-color: var(--bgGreen);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.iconBG i:before {
  vertical-align: middle;
}
