*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "IRANYekan";
    src: url("assets/fonts/IRANYekan/IRANYekanWebFaNum.eot"),
    url("assets/fonts/IRANYekan/IRANYekanWebFaNum.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/IRANYekan/IRANYekanWebFaNum.woff2") format("woff2"),
    url("assets/fonts/IRANYekan/IRANYekanWebFaNum.woff") format("woff"),
    url("assets/fonts/IRANYekan/IRANYekanWebFaNum.ttf") format("truetype"),
    url("assets/fonts/IRANYekan/IRANYekanWebFaNum.svg#svgFontName") format("svg");
}
:root {
    --primary-color: #EBF5FF;
    --alternative-color: #444;
    --background: #fcfeff;
}
.dark {
    --primary-color: #403f4d;
    --alternative-color: #eee;
    --background: #31303e;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'IRANYekan', serif !important;
    font-size: 0.9vw;
    box-sizing: border-box;
    direction: rtl;
}
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.jc-start{
    justify-content: flex-start;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: flex-end;
}
.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.ai-start{
    align-items: flex-start;
}
.ai-center{
    align-items: center;
}
.ai-end{
    align-items: flex-end;
}

.img-vsm{
    width: 1vw;
}
.img-sm{
    width: 1.5vw;
}
.img-md{
    width: 2.5vw;
}
.img-lg{
    width: 3.5vw;
}


.mb-05{
    margin-bottom: 0.5vh
}
.ml-05{
    margin-left: 0.5vw;
}

.content{
    width: 73%;
    background-color: var(--primary-color);
    color: var(--alternative-color);
    transition: color 0.7s ,background-color 0.4s;
}
.col-30{
    flex: 0.3;
}
.col-35{
    flex: 0.35;
}
.col-65{
    flex: 0.65;
}
.col-70{
    flex: 0.7;
}

.card-border{
    border: 0.3vh solid #868383;
    border-radius: 9px;
}
.border-bottom{
    border-bottom: 0.01vh solid #505050;
}
.border-left{
    border-left: 0.0001vh solid #505050;
}
.border-right{
    border-right: 0.0001vh solid #505050;
}

.text-red{
    color: red;
}
.text-green{
    color: green;
}

.text-center{
    text-align: center;
}

/**::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

}*/


.hide-scrollBar::-webkit-scrollbar {
    display: none;
}
.hide-scrollBar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollView::-webkit-scrollbar {
    display: none;
}
.scrollView{
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0 !important;
}




.thumb-vertical{
    background-color: #b5b1b1;
    border-radius: 50vw;
}

.position-absolute{
    position: absolute;
}

table{
    width: 100%;
    max-height: 100%;
}
tr{
    position: relative;
}
.px-1{
    padding-right: 1vw;
    padding-left: 1vw;
}
.py-1{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.py-2{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.px-05{
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.py-05{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.pl-1{
    padding-left: 1vw;
}
.pl-05{
    padding-left: 0.5vw;
}
.pr-05{
    padding-right: 0.5vw;
}
.pt-1{
    padding-top: 1vh;
}
.mt-1{
    margin-top: 1vh;
}
.mt-2{
    margin-top: 2vh;
}

a{
    color: var(--alternative-color);
    text-decoration: none;

    /*color: #282c34;*/
}


.font-size-sm{
    font-size: 0.75vw;
}

.card-background{
    background: var(--background);
}

.active{
    border-bottom: 0.65vh solid green;
    font-weight: bold;
    z-index: 10;
}

.font-weight-bold{
    font-weight: bold;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
