*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebboldfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebthinfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanweblightfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebregularfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebmediumfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextraboldfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 850;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebblackfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextrablackfanum.eot');
    src: url('assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}


:root {
    /*--primary-color: #EBF5FF;
    --alternative-color: #444;
    --background: #fcfeff;*/

    --menu: #F0F0F0;
    --subMenu: #F2F2F2;
    --mainContent: #EBF5FF;
    --cardBody: #FCFEFF;
    --cardHeader: #F7F9FC;
    --deActive: #2E2E39;
    /*--tableRow: #F1F3F878;*/
    --tableRow: #e2e9f978;
    --textColor: #444444;

    --textGreen: #18A979;
    --textRed: #D73E36;
    --textBlue: #0E4095;

    --textGreenAlpha: #18A97978;
    --textRedAlpha: #d73e3678;
    --activeTab: #007BFF;
    --CardBorder: #d3cdcd;
    --borderBottom: #dcdcdc;
    --scrollBar: #0707073b;
    --activeLi: #3030300d;
    --footerBackground: #e1e9f3;
    --tableHeader: #f9f9f9;

}
.dark {
    /*--primary-color: #403f4d;
    --alternative-color: #eee;
    --background: #31303e;*/

    --menu: #24242E;
    --subMenu: #24242E;

    /*--mainContent: #403F4D;
    --cardBody: #31303E;
    --cardHeader: #2a2933;
    --textColor: #c3c3c3;
    --textGreen: #18A979;
    --textRed: #D73E36;*/


    --deActive: #2E2E39;
    --tableRow: #38384678;


    /* --cardHeader: #3E3D4A;*/
    /*--textColor: #F4F4F5;*/
    /*--textColor: #ebf5ff;*/



    /*darkula*/

    --mainContent: #383A59;
    --cardBody: #282a36;
    --textColor: #ecececc7;
    --cardHeader: #242633fa;
    --textGreen: #50fa7ba1;
    --textRed: #ff5555;


    --textBlue: #f3f7ff78;

    --textGreenAlpha: #18A97978;
    --textRedAlpha: #d73e3678;
    --activeTab: #007BFF;
    --CardBorder: #22232a;
    --borderBottom: #242633;
    --scrollBar: #a9a9a936;
    --activeLi: #d0d0d01a;
    --footerBackground: #252531;
    --tableHeader: #262938;

    /*darkula*/
    /*--activeTab: #ff79c6;*/
}
.text-green{
    color: var(--textGreen)
}
.text-red{
    color: var(--textRed)
}
.text-blue{
    color: var(--textBlue)
}


.card-background{
    background: var(--cardBody);
    transition: color 0.7s, background-color 0.4s;
    color: var(--textColor);

}
.mainMenu-background{
    background: var(--menu);
    transition: background-color 0.4s;
}
.card-header-bg{
    background-color: var(--cardHeader);
    transition: background-color 0.4s;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.footerBackground {
    background-color: var(--footerBackground);
    transition: background-color 0.4s;
}
a{
    color: var(--textColor);
    text-decoration: none;

    /*color: #282c34;*/
}

html,body{
    width: 100%;
    height: 100%;
    font-family: iranyekan , serif !important;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 3.5vh;
    box-sizing: border-box;
    direction: rtl;

}
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.jc-start{
    justify-content: flex-start;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: flex-end;
}
.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.ai-start{
    align-items: flex-start;
}
.ai-center{
    align-items: center;
}
.ai-end{
    align-items: flex-end;
}

.img-vsm{
    width: 1vw;
}
.img-sm{
    width: 1.5vw;
}
.img-md{
    width: 2.3vw;
}
.img-lg{
    width: 3.5vw;
}


.mb-05{
    margin-bottom: 0.5vh
}
.ml-05{
    margin-left: 0.5vw;
}

.content{
    width: 73%;
    height:100vh;
    margin-right: 27%;
    background-color: var(--mainContent);
    color: var(--textColor);
    transition: color 0.7s ,background-color 0.4s;
}
.ltr .content{
    margin-left:27%;
    margin-right: initial;
}
.col-30{
    flex: 0.3;
}
.col-35{
    flex: 0.35;
}
.col-65{
    flex: 0.65;
}
.col-70{
    flex: 0.7;
}
.col-45{
    flex: 0.45;
}
.col-55{
    flex: 0.55;
}

.card-border{
    border: 0.3vh solid var(--CardBorder);
    border-radius: 9px;

    transition: border 0.4s;

    /*transition: border 0.4s;*/
}

.header-radius{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.border-bottom{
    border-bottom: 0.01vh solid var(--borderBottom);
    transition: border-bottom 0.4s;
}
.border-left{
    border-left: 0.0001vh solid #505050;
}
.border-right{
    border-right: 0.0001vh solid #505050;
}

.text-red{
    color: var(--textRed);
}
.text-green{
    color: var(--textGreen);
}

.text-center{
    text-align: center;
}

/**::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

}*/


.hide-scrollBar::-webkit-scrollbar {
    display: none;
}
.hide-scrollBar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollView::-webkit-scrollbar {
    display: none;
}
.scrollView{
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0 !important;
}




.thumb-vertical{
    background-color: var(--scrollBar);
    transition: background-color 0.4s;
    border-radius: 50vw;
}

.position-absolute{
    position: absolute;
}

table{
    width: 100%;
    max-height: 100%;
}
tr{
    position: relative;
    line-height: 3.4vh;
}
.px-1{
    padding-right: 1vw;
    padding-left: 1vw;
}
.py-1{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.py-2{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.px-05{
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.py-05{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.pl-1{
    padding-left: 1vw;
}
.ltr .pl-1{
    padding-right: 1vw;
    padding-left: initial;
}
.pl-05{
    padding-left: 0.5vw;
}
.ltr .pl-05{
    padding-right: 0.5vw;
    padding-left: initial;
}

.pr-05{
    padding-right: 0.5vw;
}
.ltr .pr-05{
    padding-left:0.5vw;
    padding-right: initial;
}
.pt-1{
    padding-top: 1vh;
}
.mt-1{
    margin-top: 1vh;
}
.mt-2{
    margin-top: 2vh;
}




.font-size-sm{
    font-size: 0.75vw;
}
.font-size-md{
    font-size: 1vw;
}
.font-size-lg{
    font-size: 1.2vw;
}



.active{
    border-bottom: 0.5vh solid var(--activeTab);
    /*font-weight: bold;*/
    z-index: 10;
    color: var(--activeTab);
}
.active:hover{
    background-color: var(--activeLi);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.font-weight-bold{
    font-weight: bold;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


h1,h2,h3,h4,h5,h6{
    font-weight: normal !important;
}

.cursor-pointer{
    cursor: pointer;
}
.ltr{
    direction: ltr;
    font-family: 'Segoe UI', serif;

}
/*
.ltr html,body{
    font-family: 'Segoe UI', serif !important;
}
*/


/*
.ltr .row{
    flex-direction: row-reverse;

}*/

/*
    Table Style
*/
.striped tr:nth-child(even) td{
    background-color: var(--tableRow);
    transition: background-color 0.4s;
}
.double-striped tr:nth-child(4n) td{
    background-color: var(--tableRow);
    transition: background-color 0.4s;
}
.double-striped tr:nth-child(4n-1) td{
    background-color: var(--tableRow);
    transition: background-color 0.4s;
}
table th {
    position:sticky;
    top: 0;
    font-weight: normal;
    background-color: var(--tableHeader);
}









.mobile-view{
    width: 100%;
    height: 96vh;
    padding: 2vh 2vw;
    border: 0.7vw dotted #4a5eab;
    border-radius: 9px;
    font-size: 1.9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 4.5vh;

}
.mobile-view img{
    width: 22vw;
}
.mobile-view h1{
    padding: 10vh 0;
}

@media screen and (orientation:landscape){
    .mobile-view{
        font-size: 1vw;
        line-height: 14vh;
        border: 0.4vw dotted #4a5eab;
    }
    .mobile-view img{
        width: 12vw;
    }
    .mobile-view h1{
        padding: 5vh 0;
    }
}
.flashit{
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

