/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
.user-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebboldfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebboldfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebboldfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebthinfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebthinfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebthinfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebthinfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanweblightfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanweblightfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanweblightfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanweblightfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebregularfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebregularfanum.eot?#iefix")
      format("e "),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebregularfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebregularfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebmediumfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebmediumfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebmediumfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextraboldfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebextraboldfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebextraboldfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebblackfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebblackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebblackfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebblackfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextrablackfanum.eot");
  src: url("assets/fonts/IRANYekan/Farsi_numerals/eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("assets/fonts/IRANYekan/Farsi_numerals/woff/iranyekanwebextrablackfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("assets/fonts/IRANYekan/Farsi_numerals/ttf/iranyekanwebextrablackfanum.ttf")
      format("truetype");
}


:root {
  /*--primary-color: #EBF5FF;
    --alternative-color: #444;
    --background: #fcfeff;*/

  --menu: #f0f0f0;
  --subMenu: #f2f2f2;
  --mainContent: #ebf5ff;
  --cardBody: #fcfeff;
  --cardHeader: #f7f9fc;
  --deActive: #2e2e39;
  /*--tableRow: #F1F3F878;*/
  --tableRow: #e2e9f978;
  --textColor: #444444;
  --textColorGray: #949494;

  --textDark: #0707073b;

  --textGreen: #18a979;
  --textRed: #d73e36;
  --textBlue: #0e4095;

  --textGreenAlpha: #18a97978;
  --textRedAlpha: #d73e3678;
  --activeTab: #007bff;
  --CardBorder: #d3cdcd;
  --borderBottom: #dcdcdc;
  --scrollBar: #0707073b;
  --activeLi: #3030300d;
  --footerBackground: #e1e9f3;
  --tableHeader: #f9f9f9;
  --toolTipBG: #d8d8d8e6;
  --iconWhite: #f7f7f7;
  --iconBlue: #0e4095;
  --bgGreen: #18a979;
  --bgRed: #d73e36;
  --bgBlue: #0e4095;
  --orange: #ff8124;
  --orangeAlpha: #e97b50b0;
  --lightBlue: #0d0d5a;

  --LoginContainer: #eafbff;
  --cardHeaderAlpha: #acaeaf75;
  --popupAlpha: #f0f0f0e6;
  --cardBodyAlpha: #dddada96;

}
.dark {
  /*--primary-color: #403f4d;
    --alternative-color: #eee;
    --background: #31303e;*/

  --menu: #24242e;
  --subMenu: #24242e;

  /*--mainContent: #403F4D;
    --cardBody: #31303E;
    --cardHeader: #2a2933;
    --textColor: #c3c3c3;
    --textGreen: #18A979;
    --textRed: #D73E36;*/

  --deActive: #2e2e39;
  --tableRow: #38384678;

  /* --cardHeader: #3E3D4A;*/
  /*--textColor: #F4F4F5;*/
  /*--textColor: #ebf5ff;*/

  /*darkula*/

  --mainContent: #383a59;
  --cardBody: #282a36;
  --textColor: #ecececc7;
  --textColorGray: #8e8e8e;

  --cardHeader: #242633fa;
  --textGreen: #50fa7ba1;
  --textRed: #ff5555;
  --textDark: #f9f9f9;
  --textBlue: #f3f7ff78;
  --textGreenAlpha: #18a97978;
  --textRedAlpha: #d73e3678;
  --activeTab: #007bff;
  --CardBorder: #22232a;
  --borderBottom: #242633;
  --scrollBar: #a9a9a936;
  --activeLi: #d0d0d01a;
  --footerBackground: #252531;
  --tableHeader: #262938;
  --toolTipBG: #242433f0;
  --iconWhite: #444444;
  --iconBlue: #6f9ffff5;
  --bgGreen: #18a979;
  --bgRed: #d73e36;
  --bgBlue: #6f9ffff5;

  --orange: #ff8124;
  --orangeAlpha: #b16649d9;

  --LoginContainer: #383a59;
  --cardHeaderAlpha: #11121552;
  --popupAlpha: #24242ef2;
  --cardBodyAlpha: #282a36e6;

  /*darkula*/
  /*--activeTab: #ff79c6;*/
}
.text-color-gray {
  color: var(--textColorGray);
}
.text-color {
  color: var(--textColor);
}

.text-green {
  color: var(--textGreen);
}
.bg-green {
  background-color: var(--bgGreen);
}
.bg-blue {
  background-color: var(--bgBlue);
}
.bg-red {
  background-color: var(--bgRed);
}
.text-red {
  color: var(--textRed);
}
.bg-red {
  background-color: var(--textRed);
}
.text-blue {
  color: var(--textBlue);
}
.text-orange {
  color: var(--orange);
}
.icon-white {
  color: var(--iconWhite);
}
.icon-blue {
  color: var(--iconBlue);
}
.icon-active {
  color: var(--activeTab);
}

.card-background {
  background: var(--cardBody);
  -webkit-transition: color 0.7s, background-color 0.4s;
  -o-transition: color 0.7s, background-color 0.4s;
  transition: color 0.7s, background-color 0.4s;
  color: var(--textColor);
}
.mainMenu-background {
  background: var(--menu);
 /* -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;*/
}
.card-header-bg {
  background-color: var(--cardHeader);
  /*-webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;*/
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.footerBackground {
  background-color: var(--footerBackground);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
a {
  color: var(--textColor);
  text-decoration: none;

  /*color: #282c34;*/
}

html,
body {
  width: 100%;
  font-family: iranyekan, serif !important;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.row-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start !important;
}
.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end !important;
}

.img-vsm {
  width: 1vw;
}
.img-sm {
  width: 1.5vw;
}
.img-md {
  width: 2.3vw;
}
.img-md-plus {
  width: 2.7vw;
}
.img-lg {
  width: 3.5vw;
}
.img-lg-1 {
  width: 5vw;
}
.img-lg-2 {
  width: 7vw;
}
.img-lg-plus {
  width: 10vw;
}

.mb-05 {
  margin-bottom: 0.5vh;
}
.mb-1 {
  margin-bottom: 1vh;
}
.mb-2 {
  margin-bottom: 2vh;
}
.mb-3 {
  margin-bottom: 3vh;
}
.mb-4 {
  margin-bottom: 4vh;
}
.m-auto{
  margin: 0 auto;
}
.overflowX-hidden{
  overflow-x: hidden;
}
.overflowY-hidden{
  overflow-y: hidden;
}

.content {
  width: 73%;
  height: 100vh;
  margin-right: 27%;
  background-color: var(--mainContent);
  color: var(--textColor);
  -webkit-transition: color 0.7s, background-color 0.4s;
  -o-transition: color 0.7s, background-color 0.4s;
  transition: color 0.7s, background-color 0.4s;
}
.ltr .content {
  margin-left: 27%;
  margin-right: initial;
}
.col-04 {
  -webkit-box-flex: 0.04;
  -ms-flex: 0.04;
  flex: 0.04;
}
.col-03 {
  -webkit-box-flex: 0.03;
  -ms-flex: 0.03;
  flex: 0.03;
}
.col-05 {
  -webkit-box-flex: 0.05;
  -ms-flex: 0.05;
  flex: 0.05;
}
.col-07 {
  -webkit-box-flex: 0.07;
  -ms-flex: 0.07;
  flex: 0.07;
}
.col-30 {
  -webkit-box-flex: 0.3;
  -ms-flex: 0.3;
  flex: 0.3;
}
.col-33 {
  -webkit-box-flex: 0.33;
  -ms-flex: 0.33;
  flex: 0.33;
}
.col-34 {
  -webkit-box-flex: 0.34;
  -ms-flex: 0.34;
  flex: 0.34;
}
.col-80 {
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
}
.col-88 {
  -webkit-box-flex: 0.88;
  -ms-flex: 0.88;
  flex: 0.88;
}
.col-89 {
  -webkit-box-flex: 0.89;
  -ms-flex: 0.89;
  flex: 0.89;
}
.col-35 {
  -webkit-box-flex: 0.35;
  -ms-flex: 0.35;
  flex: 0.35;
}
.col-38 {
  -webkit-box-flex: 0.38;
  -ms-flex: 0.38;
  flex: 0.38;
}
.col-25 {
  -webkit-box-flex: 0.25;
  -ms-flex: 0.25;
  flex: 0.25;
}
.col-29 {
  -webkit-box-flex: 0.29;
  -ms-flex: 0.29;
  flex: 0.29;
}
.col-20 {
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
}
.col-10 {
  -webkit-box-flex: 0.1;
  -ms-flex: 0.1;
  flex: 0.1;
}
.col-06 {
  -webkit-box-flex: 0.06;
  -ms-flex: 0.06;
  flex: 0.06;
}
.col-08 {
  -webkit-box-flex: 0.08;
  -ms-flex: 0.08;
  flex: 0.08;
}
.col-09 {
  -webkit-box-flex: 0.09;
  -ms-flex: 0.09;
  flex: 0.09;
}
.col-15 {
  -webkit-box-flex: 0.15;
  -ms-flex: 0.15;
  flex: 0.15;
}
.col-18 {
  -webkit-box-flex: 0.18;
  -ms-flex: 0.18;
  flex: 0.18;
}
.col-23 {
  -webkit-box-flex: 0.23;
  -ms-flex: 0.23;
  flex: 0.23;
}
.col-28 {
  -webkit-box-flex: 0.28;
  -ms-flex: 0.28;
  flex: 0.28;
}
.col-21 {
  -webkit-box-flex: 0.21;
  -ms-flex: 0.21;
  flex: 0.21;
}
.col-75 {
  -webkit-box-flex: 0.75;
  -ms-flex: 0.75;
  flex: 0.75;
}
.col-65 {
  -webkit-box-flex: 0.65;
  -ms-flex: 0.65;
  flex: 0.65;
}
.col-69 {
  -webkit-box-flex: 0.69;
  -ms-flex: 0.69;
  flex: 0.69;
}
.col-70 {
  -webkit-box-flex: 0.7;
  -ms-flex: 0.7;
  flex: 0.7;
}
.col-44 {
  -webkit-box-flex: 0.44;
  -ms-flex: 0.44;
  flex: 0.44;
}
.col-45 {
  -webkit-box-flex: 0.45;
  -ms-flex: 0.45;
  flex: 0.45;
}
.col-41 {
  -webkit-box-flex: 0.41;
  -ms-flex: 0.41;
  flex: 0.41;
}
.col-50 {
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}
.col-40 {
  -webkit-box-flex: 0.4;
  -ms-flex: 0.4;
  flex: 0.4;
}
.col-60 {
  -webkit-box-flex: 0.6;
  -ms-flex: 0.6;
  flex: 0.6;
}
.col-55 {

  -webkit-box-flex: 0.55;
  -ms-flex: 0.55;
  flex: 0.55;
}
.col-58 {
  -webkit-box-flex: 0.58;
  -ms-flex: 0.58;
  flex: 0.58;
}
.col-49 {
  -webkit-box-flex: 0.49;
  -ms-flex: 0.49;
  flex: 0.49;
}
.col-48 {
  -webkit-box-flex: 0.48;
  -ms-flex: 0.48;
  flex: 0.48;
}
.col-46 {
  -webkit-box-flex: 0.46;
  -ms-flex: 0.46;
  flex: 0.46;
}
.col-98 {
  -webkit-box-flex: 0.98;
  -ms-flex: 0.98;
  flex: 0.98;
}
.col-90 {
  -webkit-box-flex: 0.90;
  -ms-flex: 0.90;
  flex: 0.90;
}
.col-92 {
  -webkit-box-flex: 0.92;
  -ms-flex: 0.92;
  flex: 0.92;
}
.col-93 {
  -webkit-box-flex: 0.93;
  -ms-flex: 0.93;
  flex: 0.93;
}
.col-94 {
  -webkit-box-flex: 0.94;
  -ms-flex: 0.94;
  flex: 0.94;
}
.col-95 {
  -webkit-box-flex: 0.95;
  -ms-flex: 0.95;
  flex: 0.95;
}
.col-96 {
  -webkit-box-flex: 0.96;
  -ms-flex: 0.96;
  flex: 0.96;
}
.col-99 {
  -webkit-box-flex: 0.99;
  -ms-flex: 0.99;
  flex: 0.99;
}
.col-100 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.width-5{
  width: 5%;
}
.width-8{
  width: 8%;
}
.width-9{
  width: 9%;
}
.width-10{
  width: 10%;
}
.width-11{
  width: 11%;
}
.width-12{
  width: 12%;
}
.width-13{
  width: 13%;
}
.width-15{
  width: 15%;
}
.width-19{
  width: 19%;
}
.width-20{
  width: 20%;
}
.width-23{
  width: 23%;
}
.width-25{
  width: 25%;
}
.width-30{
  width: 30%;
}
.width-32{
  width: 32%;
}
.width-35{
  width: 35%;
}
.width-40{
  width: 40%;
}
.width-50{
  width: 50%;
}
.width-70{
  width: 70%;
}
.width-80{
  width: 80%;
}
.width-85{
  width: 85%;
}
.width-90{
  width: 90%;
}
.width-100{
  width: 100%;
}

.height-100{
  height: 100%;
}
.rounded {
  border-radius: 5px;
}

.card-border {
  border: 0.3vh solid var(--CardBorder);
  border-radius: 9px;

 /* -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;*/
  /*transition: border 0.4s;*/
}
.icon-border {
  border: 0.3vh solid var(--bgBlue);
}

.header-radius {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.border-bottom {
  border-bottom: 0.01vh solid var(--borderBottom);
  /*transition: border-bottom 0.4s;*/
}
.border-left {
  border-left: 0.0001vh solid #505050;
}
.border-right {
  border-right: 0.0001vh solid #505050;
}
.border-top-dotted {
  border-top: 0.03vh dotted var(--activeTab);
}

.text-red {
  color: var(--textRed);
}
.text-green {
  color: var(--textGreen);
}
.text-orange {
  color: var(--orange);
}

.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-right {
  text-align: right;
}
.ltr .text-right {
  text-align: left;
}
.text-left {
  text-align: left;
}
.ltr .text-left {
  text-align: right;
}

/**::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

}*/

.hide-scrollBar::-webkit-scrollbar {
  display: none;
}
.hide-scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollView::-webkit-scrollbar {
  display: none;
}
.scrollView {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 !important;
}

.thumb-vertical {
  background-color: var(--scrollBar);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  border-radius: 50vw;
}

.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.visibility-hidden {
  visibility: hidden;
}

.hover-scale-01:hover {
  font-size: 1.1rem;
}
.hover-text:hover {
  color: var(--activeTab);
}
.hover-underline:hover{
  text-decoration: underline;
}

.visibility-hidden{
  visibility: hidden;
}


.alert-box {
  background-color: var(--textRedAlpha);
  /*border: 0.1vh solid var(--bgRed);*/
  border-radius: 9px;
  /*background-color: var(--cardHeader);*/
}


table {
  width: 100%;
  max-height: 100%;
}

.p-1 {
  padding: 1vh 1vw;
}
.p-05 {
  padding: 0.5vh 0.5vw;
}
.p-025 {
  padding: 0.25vh 0.25vw;
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.px-1 {
  padding-right: 1vw;
  padding-left: 1vw;
}
.px-2 {
  padding-right: 2vw;
  padding-left: 2vw;
}
.px-3 {
  padding-right: 3vw;
  padding-left: 3vw;
}
.px-4 {
  padding-right: 4vw;
  padding-left: 4vw;
}
.px-5 {
  padding-right: 5vw;
  padding-left: 5vw;
}
.px-6 {
  padding-right: 6vw;
  padding-left: 6vw;
}
.px-7 {
  padding-right: 7vw;
  padding-left: 7vw;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.py-2 {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.py-3 {
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.py-4 {
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.py-5 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.py-6 {
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.py-7 {
  padding-top: 7vh;
  padding-bottom: 7vh;
}
.px-05 {
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
.py-05 {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}
.pl-1 {
  padding-left: 1vw;
}
.ltr .pl-1 {
  padding-right: 1vw;
  padding-left: initial;
}
.pr-1 {
  padding-right: 1vw;
}
.ltr .pr-1 {
  padding-left: 1vw;
  padding-right: initial;
}
.pr-2 {
  padding-right: 2vw;
}
.ltr .pr-2 {
  padding-left: 2vw;
  padding-right: initial;
}

.ml-05 {
  margin-left: 0.5vw;
}
.ltr .ml-05 {
  margin-right: 0.5vw;
  margin-left: initial;
}
.ml-025 {
  margin-left: 0.25vw;
}
.ltr .ml-025 {
  margin-right: 0.25vw;
  margin-left: initial;
}
.ml-1 {
  margin-left: 1vw;
}
.ltr .ml-1 {
  margin-right: 1vw;
  margin-left: initial;
}
.ml-2 {
  margin-left: 2vw;
}
.ltr .ml-2 {
  margin-right: 2vw;
  margin-left: initial;
}
.mr-05 {
  margin-right: 0.5vw;
}
.ltr .mr-05 {
  margin-left: 0.5vw;
  margin-right: initial;
}
.mr-1 {
  margin-right: 1vw;
}
.ltr .mr-1 {
  margin-left: 1vw;
  margin-right: initial;
}
.mr-2 {
  margin-right: 2vw;
}
.ltr .mr-2 {
  margin-left: 2vw;
  margin-right: initial;
}

.mr-025 {
  margin-right: 0.25vw;
}
.ltr .mr-025 {
  margin-left: 0.25vw;
  margin-right: initial;
}

.pl-05 {
  padding-left: 0.5vw;
}
.ltr .pl-05 {
  padding-right: 0.5vw;
  padding-left: initial;
}

.pr-05 {
  padding-right: 0.5vw;
}
.ltr .pr-05 {
  padding-left: 0.5vw;
  padding-right: initial;
}
.pt-1 {
  padding-top: 1vh;
}
.pt-2 {
  padding-top: 2vh;
}
.pt-05 {
  padding-top: 0.5vh;
}
.pb-1 {
  padding-bottom: 1vh;
}
.pb-2 {
  padding-bottom: 2vh;
}
.pb-3 {
  padding-bottom: 3vh;
}
.pb-5 {
  padding-bottom: 5vh;
}
.mt-05 {
  margin-top: 0.5vh;
}
.mt-1 {
  margin-top: 1vh;
}
.mt-2 {
  margin-top: 2vh;
}
.mx-05 {
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.mx-025 {
  margin-right: 0.25vw;
  margin-left: 0.25vw;
}
.mx-1 {
  margin-right: 1vw;
  margin-left: 1vw;
}
.my-2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.my-3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.my-4 {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.my-5 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.my-1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.my-05 {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

li {
  list-style: none;
}


.direction-ltr {
  direction: ltr;
}
.direction-rtl {
  direction: rtl;
}

.font-weight-bold {
  font-weight: bold;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-grabbing {
  cursor: grabbing;
}
.ltr {
  direction: ltr;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.button {
  font-family: "IRANYekan", sans-serif;
  border: none;
  border-radius: 7px;
  color: #f2f2f2;
}

.ltr .button {
  font-family: "Roboto", sans-serif !important;
}


input {
  direction: rtl;
}
.ltr input {
  direction: ltr;
}

/*
    Table Style
*/
.striped tr:nth-child(even) td {
  background-color: var(--tableRow);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.triplet-striped tr:nth-child(6n) td {
  background-color: var(--tableRow);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.triplet-striped tr:nth-child(6n-1) td {
  background-color: var(--tableRow);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.triplet-striped tr:nth-child(6n-2) td {
  background-color: var(--tableRow);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}



.double-striped tr:nth-child(4n) td {
  background-color: var(--tableRow);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.double-striped tr:nth-child(4n-1) td {
  background-color: var(--tableRow);
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: normal;
  background-color: var(--tableHeader);
  line-height: 3.7vh;
}

.th-border-y th {
  border-top: 0.1vh solid var(--CardBorder);
  border-bottom: 0.1vh solid var(--CardBorder);
}




.flashit {
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}


.onScreen{
  position: absolute;
  width: 1vw;
  height: 5vh;
  border-radius: 4px;
  background-color: var(--orange);
  z-index: 1000;
  bottom: 10vh;
  left: 0;
  transition: width 0.75s;
}
.onScreen.wide{
  width: 10vw;
  /*background-color: var(--subMenu);*/
}
.thisButton{
  transform: rotate(-90deg);
}

.appear-animation{
  -webkit-animation: appear 0.3s cubic-bezier(.38,.1,.36,.9) forwards;
}

@keyframes appear {
  0% {
    box-shadow: 0 0 0 #f2f2f200;
    opacity: 0;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  1% {
    box-shadow: 0 0 0 #f2f2f200;
    opacity: 0;
    -webkit-transform: scale(.96) translateY(10px);
    transform: scale(.96) translateY(10px);
  }
  100% {
    box-shadow: 0 0 500px #f2f2f200;
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
}


.floating {
  -webkit-animation: floating 5s ease-in-out infinite;
  -moz-animation: floating 5s ease-in-out infinite;
  animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0) rotate(.2deg);
  }

  50% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -moz-transform: translateY(20px) rotate(.2deg);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0) rotate(.2deg);
  }
}

.move-image {
  animation-name: MOVE-BG;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes MOVE-BG {
  from {
    background-position: center top;
  }
  to {
    background-position: center 1200px;
  }
}