
.icon-brighttheme:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-opexlogo_light:before { content: '\e804'; } /* '' */
.icon-starwithfill:before { content: '\e805'; } /* '' */
.icon-starwithoutfill:before { content: '\e806'; } /* '' */
.icon-delete:before { content: '\e807'; } /* '' */
.icon-ethereum:before { content: '\e808'; } /* '' */
.icon-ethereumlight:before { content: '\e809'; } /* '' */
.icon-favoritecurrency:before { content: '\e80a'; } /* '' */
.icon-languages:before { content: '\e80b'; } /* '' */
.icon-market:before { content: '\e80c'; } /* '' */
.icon-messages:before { content: '\e80d'; } /* '' */
.icon-plus:before { content: '\e80e'; } /* '' */
.icon-settings:before { content: '\e80f'; } /* '' */
.icon-signout:before { content: '\e810'; } /* '' */
.icon-up:before { content: '\e811'; } /* '' */
.icon-wallet:before { content: '\e812'; } /* '' */
.icon-bitcoin:before { content: '\e813'; } /* '' */
.icon-brighttheme-1:before { content: '\e814'; } /* '' */
.icon-counting:before { content: '\e815'; } /* '' */
.icon-darktheme:before { content: '\e816'; } /* '' */