.container {
    width: 30%;
    background-color: var(--popupAlpha);
    height: 0;
    position: absolute;
    top: 29%;
    right: 7%;
    border: none;

}

.container.expand {
    animation: TopToBottom ease 0.5s forwards;
    -webkit-animation: TopToBottom ease 0.5s forwards;
                                                                                                            -moz-animation: TopToBottom ease 0.5s forwards;
    -o-animation: TopToBottom ease 0.5s forwards;
    -ms-animation: TopToBottom ease 0.5s forwards;

    border: 0.3vh solid var(--cardBorder);
    border-radius: 9px;
}

.container.close {
    animation: BottomToTop ease 0.5s forwards;
    -webkit-animation: BottomToTop ease 0.5s forwards;
    -moz-animation: BottomToTop ease 0.5s forwards;
    -o-animation: BottomToTop ease 0.5s forwards;
    -ms-animation: BottomToTop ease 0.5s forwards;


}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #00000000;
}+


@-webkit-keyframes TopToBottom {
    0% {
        height: 0%;
    }
    100% {
        height: 60%;
    }
}

@keyframes TopToBottom {
    0% {
        height: 0%;
    }
    100% {
        height: 60%;
    }
}

@-webkit-keyframes BottomToTop {
    0% {
        height: 60%;
    }
    100% {
        height: 0%;
    }
}

@keyframes BottomToTop {
    0% {
        height: 60%;
    }
    100% {
        height: 0%;
    }
}