name: Deploy OPEX-Web-APP - Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    name: Opex web app build
    env:
      OPEX_TAG: latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Build Docker images
        run: docker-compose -f docker-compose.build.yml build
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push images to GitHub Container Registry
        run: docker-compose -f docker-compose.build.yml push
