.container{
    height: 10vh;
}
.content{
    width: 95%;
    height: 100%;
    padding: 0 1.5vw 0 0.5vw;
}
.inventory div:first-child{
    border-left: 0.01vh solid #F58634;
    padding: 0 0.2vw;
}
.inventory div:last-child{
    border-right: 0.01vh solid #F58634;
    padding: 0 0.2vw;
}
.inventory div *{
    padding: 0 0.2vw;
}
.signOut{
    width: 5%;
    height: 100%;
}

