.container{
    height: 70vh;
    background-color: #fcfeff;
    display: flex;
    flex-direction: column;

    border: 0.3vh solid #868383;
    border-radius: 9px;
    margin-top: 2vh;
}
.header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    border-bottom: 0.01vh solid #505050;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.subTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.subTitle *{
    margin-left: 0.5vw;
}
.activeSubTitle{
    border-bottom: 0.8vh solid #419644;
    padding-bottom: 1.2vh;
}
.content{
    width: 100%;
    height: 85%;
    padding: 1.8vh 1vw;
}