.container{
    height: 70vh;
}
.content{
    height: 100%;
    padding: 1.8vh 1vw;
}
.button{
    width: 100%;
    padding: 0.8vh 0vw;
    border: none;
    background: var(--textGreen);
    border-radius: 4px;
    font-family: 'IRANYekan';
    font-size: 0.8vw;
    /* justify-content: flex-end; */
    color: white;
    bottom: 0;
    margin-top: 40vh;
}

.dangerHint span i{
    background-color: #6619bf;
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dangerHint :global(.alert){
    font-size: 0.7vw;
    color: #6619bf;
}