.container {
  height: 70vh;
}
.header {
  height: 10%;
}
.content {
  height: 90%;
}
.content :global(.row) {
  width: 100%;
}
.addressInput :global(.lead) {
  width: 24.5%;
}
.addressInput :global(input) {
  width: 75.5%;
}
.ltrInput :global(input) {
  direction: ltr !important;
}
.thisButton {
  width: 20%;
}
.thisButton.prev{
  background-color: var(--orange);
}
.thisButton.next{
  background-color: var(--bgGreen);
}
.email :global(input){
  background-color: var(--cardHeader);
  cursor: not-allowed;
}
